* {
    margin: 0;
    padding: 0;
    
}

body {
    backdrop-filter: blur(10px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: image-set(url(ab67616d0000b273b0c0b5cb95e7b2391725b15c.jpg));
    
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.ok {
    text-align: center;
    color: white;
    background-color: black;
    width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

